:root {
    --color-midnight: #202c39;
    --color-elephant: #283845;
    --color-red-orange: #F44336;
    --color-moon-yellow: #f3b61f;
    --color-black-squeeze: #E3E4DB;
    --color-black-squeeze-10: rgba(227, 228, 219, 0.1);
    --color-black-squeeze-40: rgba(227, 228, 219, 0.4);
    --color-black-squeeze-90: rgba(227, 228, 219, 0.9);
    --color-chambray: #415A77;
}